# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

# Dependencias y build
client/node_modules
client/dist
client/dist-ssr
client/*.local

# Archivos y directorios del editor
client/.vscode/*
client/.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore environment variable files
.env
