@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* || CSS BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* || VARIABLES */
:root {
    --black-100: #090909;   
    --black-200: #121212;   
    --black-300: #222831;   
    --black-400: #393E46;
      
    --white-100: #ffffff;   
    --white-200: #f5f5f5;   
    --white-300: #949292;   

    --card-dark-bg: #1b1d21;

    --text-color: var(--black-200);
    
    --background-color: var(--white-200);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white-200);
        --background-color: var(--black-200);
    }

    .ground {
        filter: invert(1);
    }
}

/* || GENERAL STYLES */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    border-bottom: 1px solid hsl(215, 15%, 92%);;
    padding: 1vh 4vw;
    background-color: var(--black-100);
    z-index: 0;    
}

main {
    padding: 1vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}


@keyframes autoRotate {
    to {
        --angle: 360deg;
    }
}

/* || BLOCKS */
/* aka components */
.theme-toggle-label {
    position: fixed;
    top: 4rem;
    right: 1rem;
    padding: 0.5rem;
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
    font-size: 1.2rem;
}

.coolborder {
    position: relative;
    z-index: 1;
}

.gradient-border {
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--black-100);
}

.gradient-border::before,
.gradient-border::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), #ea2dd8, #001bf1,#ea2dd8 );
    padding: 2.5px;
    z-index: -2;
    animation: autoRotate 2s linear infinite;
    /* box-sizing: unset; */
}

.gradient-border::after {
    filter: blur(50px);
}

.sidebar-btn {
  position: absolute;
 clip: rect(0, 0, 0, 0); /* Visually hides the checkbox */
}

.button-menu {
    display: grid;
    place-content: center;
    background-color: transparent;
    font-size: 2.5rem;
    height: 1em;
    width: 1em;
    padding: 0;
    border: none;
    z-index: 100;
}


.menu-icon {
    position: relative;
    transition: transform 0.5s ease;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    width: 1em;
    height: 0.15em;
    border-radius: .1em;
    background-color: var(--white-200);
}
.menu-icon::before,
.menu-icon::after {
    content: '';
    position: absolute;
    left: 0;
}
.menu-icon::before {
    top: -0.31em;
}
.menu-icon::after {
    top: 0.31em;
}
:is(.sidebar-btn:checked) ~ .header__nav {
    display: block;
}
:is(.sidebar-btn:checked) + .button-menu .menu-icon{
    height: 0;
}
:is(.sidebar-btn:checked) + .button-menu .menu-icon::before{
    transform: translate(0, 0.31em) rotateZ(45deg);
}
:is(.sidebar-btn:checked) + .button-menu .menu-icon::after{
    transform: translate(0, -0.31em) rotateZ(-45deg);
}

/*
:is(.button-menu:hover, .button-menu:focus-within) .menu-icon::before{
    transform: translate(0, 0.31em) rotateZ(45deg);
}
:is(.button-menu:hover, .button-menu:focus-within) .menu-icon::after{
    transform: translate(0, -0.31em) rotateZ(-45deg);




/* || ELEMENTS */

.header__brand {
    font-size: 2rem;
    padding: 0 1rem 0;
    text-decoration: none;
    color: var(--white-200);
    font-weight: bold;
}



.header__line {
    display: grid;
    grid-template-columns: 1fr auto auto; /* first column fills available space, second and third column fits content */
    grid-template-rows: auto auto;
    gap: 0;
}

.header__line > :nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    /* will take all remaining width */
}
.header__line > :nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    /* width auto by grid, fits content */
}
.header__line > :nth-child(3) {
    grid-row: 1;
    grid-column: 3;
    /* width auto by grid, fits content */
}
.header__line > :nth-child(4) {
    grid-row: 2;
    grid-column: 1 / span 3; /* span both 3 columns for full width */
}

.header__nav {
    display: none;
    margin-top: 1rem;
}




.header__nav ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}

.header__nav li{
    border-top: 1px solid var(--white-200);
    width: 100%;
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    font-weight: bold;
}

.header__nav li::after {
  display: inline-block;  /*Required for transform to work */
  transition: all 0.3s ease;
  transform: scale(1);   /* Ensure base scale is set */
  color: inherit;        /* So it inherits the initial color */
}

.header__nav li:nth-child(1):after {
    content: 'Youtube';
}
.header__nav li:nth-child(2):after {
    content: 'Github';
}
.header__nav li:nth-child(3):after {
    content: 'Next';
}
.header__nav li:nth-child(4):after {
    content: 'Docs';
}

.main__subtitle {
    margin: 0 0 0.5rem 0;
}

.main__section {
    margin: 1rem 0 auto;
}

.main__section {
    margin: 1rem 0 0 0;
}

.main__section > * {
    margin-bottom: 1rem;
}

.main__section article > * {
    margin-bottom: 0.5em;
}

.main__section article:nth-of-type(1) > :nth-child(2)::after {
    content: 'FROM mcr.microsoft.com/playwright/python:v1.52.0-noble\A\AUSER pwuser\A WORKDIR /home/pwuser/app\A\A# Copy required files\A COPY requirements.txt .\A COPY at.py .\A\A# Install python dependencies\A RUN pip install -r requirements.txt\A\A# run script\A CMD ["python", "./at.py"]';
}
.main__section article:nth-of-type(1) > :nth-child(3)::after {
    content: 'Dockerfile Step by Step\A\A FROM mcr.microsoft.com/playwright/python:v1.51.0-noble – This is the base image. It includes the OS dependencies needed to run Playwright browsers, but the Playwright Python package isn’t included, so we’ll need to install it ourselves.\A\A USER pwuser – The container will run as the `pwuser` user.\A\A WORKDIR /home/pwuser/app – This sets the working directory inside the container. It helps keep things organized and easier to manage.\A\A COPY requirements.txt . – Copies `requirements.txt` into the working directory.\A\A COPY at.py . – Copies the main Python script into the working directory.\A\A RUN pip install -r requirements.txt – Installs all the Python packages listed in `requirements.txt`.\A\A CMD ["python", "./at.py"] – Runs the scraping script when the container starts.\A\A The Microsoft Playwright image already comes with the necessary browsers and system dependencies, so there’s no need to install Chromium separately.\A\Amcr.microsoft.com/playwright/python:v1.51.0-noble is designed to work with Playwright and already includes the necessary web browsers (Chromium, Firefox, Webkit) and their system dependencies.';
    white-space: pre-wrap;
    display: block;
}
.main__section article:nth-of-type(1) > :nth-child(4)::after {
    content: 'docker build -t my-scraper-image . \A docker run -it --rm --ipc=host --user pwuser --security-opt seccomp=seccomp_profile.json my-scraper-image';
    /* white-space: pre-wrap;
    display: block; */
}
.main__section article:nth-of-type(1) > :nth-child(5)::after {
    content: 'The Docker image is built using the Dockerfile in the current directory, and the resulting container is then run.'
}

.main__section article:nth-of-type(2) > :nth-child(3)::after {
    content: '';
    white-space: pre-wrap;
}
.main__section article:nth-of-type(2) > :nth-child(3)::after {
    content: 'python -m venv env\A.\\venv\\Scripts\\activate\Apip install -r requirements.txt\Aplaywright install chromium';
    white-space: pre-wrap;
}
.main__section article:nth-of-type(2) > :nth-child(4)::after {
    content: 'python -m venv env. Initialize the venv to isolate Python packages locally. \A\A \\venv\\Scripts\\activate Activate the virtual environment to use the isolated packages. \A\Apip install -r requirements.txt Install all packages listed in requirements.txt. \A\Aplaywright install chromium Install the Chromium browser driver to run Playwright.';
    white-space: pre-wrap;
}
.main__section article:nth-of-type(2) > :nth-child(5)::after {
    content: 'python .\\at.py';
    white-space: pre-wrap;
}

.header__nav li {
    color: whitesmoke;
    z-index: 100;
}

.header__nav li:hover::after {
    color: var(--white-100);
    transform: scale(1.2);
}

/* || MODIFIERS */
/* aka components */

.code {
    white-space: pre; /*line breaks*/
    background: var(--card-dark-bg);
    color: #0f0;
    border-radius: 6px;
    font-family: monospace;
    overflow-x: auto;
    max-width: 100%;
    padding: 0.5rem;
}

.code--tag {
    border-top-left-radius: 6px;  
    border-top-right-radius: 6px; 
    border-bottom-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    position: relative;
    padding-top: 2.5rem;
}

.code--dockerfile::before {
    border-top-left-radius: 6px;  
    border-top-right-radius: 6px; 
    content: 'Dockerfiles 🐳';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;    
    height: 2rem;   
    line-height: 2rem; 
    background-color: #333; 
    color: #fff; 
    box-sizing: border-box;
    padding: 0.5rem; 
    display: flex;
    align-items: center;
}

.code--bash::before {
    border-top-left-radius: 6px;  
    border-top-right-radius: 6px; 
    content: 'bash 🐧';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;  
    line-height: 2rem;
    background-color: #333; 
    color: #fff; 
    box-sizing: border-box;
    padding: 0.5rem; 
    display: flex;
    align-items: center;
}

.code--cmd::before {
    border-top-left-radius: 6px;  
    border-top-right-radius: 6px; 
    content: 'cmd ➡️';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;  
    line-height: 2rem;
    background-color: #333; 
    color: #fff; 
    box-sizing: border-box;
    padding: 0.5rem; 
    display: flex;
    align-items: center;
}



.avatar-sprite {
    transform: rotateY(var(--horientation));
    height: 73.33px;
    width: 60px;
    background-image: url('walk.jpg');
    background-position: 0 0;
    background-size: 180px 73.33px;
    animation: avatar-walk-cycle 0.3s steps(3) infinite;
}

@keyframes avatar-walk-cycle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -180px 0;
    }
}

@property --avatar-offset {
    syntax: "<length>";
    inherits: true;
    initial-value: 60px;
}

.game-world {
    --horientation: 0deg;
    width: 100%;
    border: 1px solid red;
    overflow: hidden; /*Prevents horizontal scrollbar  --avatar-flip --horientation*/
}

.avatar-wrapper {
    width: var(--avatar-offset);
    border: 1px solid blue;
    display: flex;
    flex-direction: row-reverse;
    animation: avatar-move-x 24s linear infinite;
}

.ground {
    height: calc(73.33px / 2);
    background-color: #9E2A2F;
    background-image: url('brick.png');
    background-size: auto calc(73.33px / 2);;
    background-repeat: repeat-x;
}

@keyframes avatar-move-x {
    0% {
        --avatar-offset: 60px;
    }
    50% {
        --avatar-offset: calc(100vw + 60px);
    }
    100% {
        --avatar-offset:60px;
        --horientation: 180deg;
    }
}

/* This media query only overrides specific properties for responsive layout; 
   it does not replace the entire class definitions */
@media screen and (min-width: 576px) {
    
    .button-menu {
        display: none;
    }
    .header__nav {
        margin-top: 0;
        display: block;
    }

    .header__nav ul {
        flex-flow: row nowrap;
    }

    .header__nav li{
        border-top: none; /* Remove the top border */
        width: auto;/* Instead of 100% width for horizontal layout */
    }

    .header__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}